<footer>
    <div id="setdisplay" class="bgfooter">

        <div class="footer">
            <img src="/images/logobg1.png" alt="">
            <h3>ADDRESS</h3>
            <p>Sreet No: 123 </p>
            <p>Hyderabad</p>
            <p>Pakistan</p>

            <h3>EMAIL</h3>
            <p>Roomify@example.com</p>

            <h3>CALL US</h3>
            <p>+1 5558 55489 55</p>
            <p class="icon">
                <i class="fa-brands fa-facebook-f" style="margin:5px 5px"></i>
                <i class="fa-brands fa-twitter" style="margin:5px 5px"></i>
                <i class="fa-brands fa-flickr" style="margin:5px 5px"></i>
                <i class="fa-brands fa-pinterest" style="margin:5px 5px"></i>
            </p>
        </div>
        <div class="contactform">
            <h1>Talk To Us</h1>
            <form action="">
                <input type="text" placeholder="Your Name">
                <input type="text" placeholder="Email">
                <input type="text" placeholder="Subject">
                <textarea placeholder="Message" rows="3"></textarea>

                <div class="submit"><button><a href="">SUBMIT</a></button></div>
            </form>
        </div>
    </div>
    <div class="right">
        <div>

            Copyright 2025<i class="fa-regular fa-copyright"></i>All Rights Reserved
        </div>
        <div class="privacy">
            Privacy & Cookie Policy | Terms of Service
        </div>
    </div>

</footer>